<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='Dados Pessoais')">
</head>
<body class="has-navbar-fixed-top">
<div th:replace="layout/layout :: header"></div>

<section class="hero is-warning m-6">
  <div class="hero-body">
    <p class="title">
      Página de Investigador não encontrada
    </p>
    <p class="subtitle">
      Certifique-se que o orcid está correto
    </p>
  </div>
</section>

<div th:replace="layout/layout :: footer"></div>
</body>
</html>