<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='Relatório Anual')">
</head>
<body class="has-navbar-fixed-top">
<div th:replace="layout/layout :: header"></div>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="notification is-warning">
                <strong> RELATÓRIO ANUAL EM CONSTRUÇÃO</strong>
            </div>
        </div>
    </div>
</section>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>