<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='Ciência Vitae')">
</head>
<body>
<div th:replace="layout/layout :: header"></div>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <span>Não foi possível sincronizar o seu Ciência Vitae, verifique se o CiênciaID está correto!</span>
        </div>
    </div>
</section>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>