<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='No permission')">
</head>
<body>
<section class="hero is-fullheight has-background">
    <img alt="Lisboa background" class="hero-background is-transparent" src="/images/lisboa-background.jpg"/>
    <div class="hero-body">
        <div class="container is-landing-page">
            <div class="box">
                <p class="title has-text-primary is-3 has-text-centered">Não tem permissão para entrar no site!</p>
                <p class="py-3 subtitle is-5 has-text-centered">Contacte a administração</p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>